<f:layout name="Default"/>
<f:section name="header">
    <f:render partial="Page/header"/>
</f:section>

<f:section name="body">
    <!-- breit.html -->
    <div class="wide">
        <!-- BEGIN wrap -->
        <div id=wrap>
            <div id="top">
                <div class="top-tl">
                    <div class="top-tr">
                    </div>
                </div>
            </div>
            <!-- BEGIN head -->
            <div id=head>
                <div id=head_content>
                    <a href="http://www.bolschewistischekurkapelle.org">
                        <div id=logo>
                            <h1>Bolschewistische Kurkapelle Schwarz-Rot</h1>
                        </div>
                    </a>
                    <a name="top"></a>
                </div>
            </div>
            <!-- END head -->
            <div id="stage-wrap">
                <div id="mainnav">
                    <!-- ###MAINNAV### START -->
                    <!-- ###MAINNAV### END -->
                </div>
            </div>

            <!-- BEGIN content col-->
            <div id=content_col>
                <div id=left_content>
                    <!--###CONTENT_LEFT### START-->
                    <!-- ###CONTENT_LEFT### END -->
                </div>
                <div id=content>
                    <!-- ###CONTENT### START -->
                    <!-- ###CONTENT### END -->
                </div>
                <!-- BEGIN right col -->
                <div id=right_col>
                    <div id=right_content>
                        <!-- ###CONTENT_RIGHT### START -->
                        <!-- ###CONTENT_RIGHT### END -->
                    </div>
                </div>
                <!-- END right col -->
            </div>

            <div id="bottom">
                <div class="bottom-bl">
                    <div class="bottom-br">
                        <div id="quicklinks"
                        ">
                        <ul>
                            <!-- ###QUICKLINKS### START -->
                            <!-- ###QUICKLINKS### END -->
                            <li class="quicklink_item">###LOGOUT###</li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- BEGIN UNTEN -->
            <div id=unten>
                <!-- ###UNTEN### START -->
                <!-- ###UNTEN### END -->
            </div>
            <!-- END UNTEN-->
            <div id="lang-nav">
                <!-- ###LANGNAV### START -->
                <!-- ###LANGNAV### END -->
            </div>
        </div>
    </div>
    <!-- END wrap -->
    </div>
</f:section>
