<f:layout name="Default" />
<f:section name="header">
	<f:render partial="Page/header"/>
</f:section>

<f:section name="body">
	<nav class="container hidden-phone">
		<div class="row-fluid">
			<f:cObject typoscriptObjectPath="lib.navigation.breadcrumb">
				<li><a href="#">Startseite</a> <span class="divider">/</span></li>
				<li class="active">News</li>
			</f:cObject>
		</div>
	</nav>
	<section class="container" id="load-content">
		<div class="row">
			<div class="span12">
				<f:cObject typoscriptObjectPath="lib.content.main">
				</f:cObject>
			</div>
		</div>
	</section>
</f:section>

<f:section name="footer">
	<f:render partial="Page/footer"/>
</f:section>
