<f:layout name="Default"/>
<f:section name="header">
    <f:render partial="Page/header"/>
</f:section>

<f:section name="body">
    <div id=wrap>
        <div id="top">
            <div class="top-tl">
                <div class="top-tr">
                </div>
            </div>
        </div>
        <f:render partial="Page/header"/>

        <div id="stage-wrap">
            <div id="stage">
                <f:cObject typoscriptObjectPath="lib.content.stage"/>
            </div>
            <div id="mainnav">
                <f:cObject typoscriptObjectPath="lib.navigation.main"/>
            </div>
        </div>

        <div id=content_col>
            <div id=content>
                <f:cObject typoscriptObjectPath="lib.content.main"/>
            </div>
            <div id=right_col>
                <div id=right_content>
                    <f:cObject typoscriptObjectPath="lib.content.right"/>
                </div>
            </div>
        </div>
        <div id=unten>
            <!-- ###UNTEN### START -->
            <!-- ###UNTEN### END -->
        </div>

        <div id="bottom">
            <div class="bottom-bl">
                <div class="bottom-br">
                    <div id="quicklinks"
                    ">
                    <ul>
                        <f:cObject typoscriptObjectPath="lib.navigation.footer"/>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    </div>
</f:section>